/*importar las partess*/

@use "partes/footer";
@use "partes/header";
@use "partes/grid";
@use "partes/Mobile";

/* reset del cssd */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font family "Poppins", sans-serif; */

/* html */
html {
    font-size: 62.5%;
}

/* Color de la pagina */
body {
    background-color: #151719;
}

/* titulos */

h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-style: italic;

}


h2 {
    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-style: italic;
}

/* letras */

p {
    color: white;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-transform: capitalize;
}

/* links */
a{
    color: white;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    text-transform: capitalize;
}





/* logo */
.logo {
    width: 100px;
    display: flex;
}

/* redes sociales (pie de pagina) */
.pie-cierre {
    .redes-sociales-youtube img {
        height: 45px;
        margin-top: 0;
    }

    .redes-sociales-faceboock img {
        height: 75px;
    }
}


/*escrituras de Inicio*/
.grid-texto-2{
    a{
        font-size: 2rem;
    }
}






/* imagenes */

.imagen-yone img{
    width: 45rem;

}

.runas img{
    width: 90rem;
}

