/*responsive Mobile*/
@media (max-width: 768px) {
    header {
        width: 100%;
        height: 200px;
        flex-direction: column;

        .barra-de-navegación {
            padding: 2px 8px;
            cursor: none;
            letter-spacing: 1px;
            border: 0;
            text-decoration: none;
            font-size: 4px;

            button {
                .linkB {
                    margin: -1.5em;
                    font-size: 1rem;
                }
            }
        }
    }

    footer {
        flex-direction: column;
    }

    .grid-logo-1 {
        width: 15rem;
        ;
    }

    .grid-logo-2 {
        width: 15rem;
    }

    nav {
        width: 100%;
    }

    .contenedor-grid {
        display: grid;
        grid-template-areas:
            "titulo1"
            "texto1"
            "logo1"
            "titulo2"
            "texto2"
            "logo2";

        grid-template-columns: 99%;

        grid-template-rows: 30px 50px 100px 50px 50px 130px;

        .grid-titulo-1 {
            grid-area: titulo1;
        }

        .grid-texto-1 {
            grid-area: texto1;
        }

        .grid-logo-1 {
            grid-area: logo1;
            width: 162px;
            height: auto;
            margin: 11px 1em 0px 121px;
        }

        .grid-titulo-2 {
            grid-area: titulo2;
        }

        .grid-texto-2 {
            grid-area: texto2;
        }

        .grid-logo-2 {
            grid-area: logo2;
            width: 186px;
            height: auto;
            margin: 18px 1em 0px 112px;
        }


        p {
            font-size: 1rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        .grid-texto-2 a {
            font-size: 1rem;
        }

    }

    .contenedor-grid-runas {
        display: grid;
        grid-template-areas:
            "tituloR"
            "contenidoR"
            "contenidoR2"
            "imagenR";

        grid-template-columns: 100%;

        grid-template-rows: 30px 50px 90px;

        .grid-imagenR {
            width: 315px;
            height: auto;
            margin: 11px 5em 0 49px;
        }

        .grid-tituloR {
            font-size: 1rem;
        }

        .grid-contenidoR {
            font-size: 1rem;
        }
    }

    .logo {
        width: 100px;
    }

    .contenedor-grid-build {
        display: grid;
        grid-template-areas:
            "tituloB1   tituloB1   tituloB1"
            "textob1    textob1    textob1"
            "textob2    textob2    textob2"
            "imagenb1   imagenb1   imagenb1"
            "textob3    textob3    textob3"
            "imagenb2   .          imagenb3"
            "textob4    textob4    textob4"
            ".          imagenb4   .      ";

        grid-template-columns: 42% 15% 42%;

        grid-template-rows: 35px 55px 56px 270px 43px 248px 34px 157px;

        .grid-tituloB-1 {
            grid-area: tituloB1;
        }

        .grid-textob-1 {
            grid-area: textob1;
        }

        .grid-textob-2 {
            grid-area: textob2;
        }

        .grid-textob-3 {
            grid-area: textob3;
        }

        .grid-textob-4 {
            grid-area: textob4;
        }

        .grid-imagenb-1 {
            grid-area: imagenb1;
            width: 226px;
            height: auto;
            margin: 11px 5em 0 95px;
        }

        .grid-imagenb-2 {
            grid-area: imagenb2;
            width: 142px;
            height: auto;
            margin: 11px 5em 0 10px;
        }

        .grid-imagenb-3 {
            grid-area: imagenb3;
            width: 142px;
            height: auto;
            margin: 11px 5em 0 26px;
        }

        .grid-imagenb-4 {
            grid-area: imagenb4;
            width: 248px;
            height: auto;
            margin: 11px 1em 0px -89px;
        }

        p {
            font-size: 1rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }

    }

    .contenedor-grid-fase {
        display: grid;
        grid-template-areas:
            "tituloF1"
            "textoF1"
            "textoF2"
            "textoF3"
            "textoF4"
            "textoF5"
            "textoF6"
            "textoF7"
            "imgF1";

        grid-template-columns: 100%;

        grid-template-rows: 76px 87px 17px 17px 17px 17px 78px 108px 158px;

        .grid-tituloF-1 {
            grid-area: tituloF1;
        }

        .grid-textoF-1 {
            grid-area: textoF1;
        }

        .grid-textoF-2 {
            grid-area: textoF2;
        }

        .grid-textoF-3 {
            grid-area: textoF3;
        }

        .grid-textoF-4 {
            grid-area: textoF4;
        }

        .grid-textoF-5 {
            grid-area: textoF5;
        }

        .grid-textoF-6 {
            grid-area: textoF6;
        }

        .grid-textoF-7 {
            grid-area: textoF7;
        }

        .grid-imgF-1 {
            grid-area: imgF1;
            width: 200px;
            height: auto;
        }

        p {
            font-size: 1rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    .contenedor-grid-FD {
        display: grid;
        grid-template-areas:
            "tituloFD1  tituloFD1  tituloFD1"
            "tituloFD2   tituloFD2  tituloFD2"
            "textoFD1   textoFD1   textoFD1"
            "imgFD1     textoFD2   textoFD2"
            "imgFD1     textoFD3   textoFD3"
            "imgFD2     textoFD4   textoFD4"
            "imgFD2     textoFD5   textoFD5";

        grid-template-columns: 45% 27% 27%;

        grid-template-rows: 36px 76px 55px 57px 131px 70px 184px;

        .grid-tituloFD-1 {
            grid-area: tituloFD1;
        }

        .grid-tituloFD-2 {
            grid-area: tituloFD2;
        }

        .grid-textoFD-1 {
            grid-area: textoFD1;
        }

        .grid-textoFD-2 {
            grid-area: textoFD2;
        }

        .grid-textoFD-3 {
            grid-area: textoFD3;
        }

        .grid-textoFD-4 {
            grid-area: textoFD4;
        }

        .grid-textoFD-5 {
            grid-area: textoFD5;
        }

        .grid-imgFD-1 {
            width: 101px;
            height: auto;
            margin: 9px 1em 0 9px
        }

        .grid-imgFD-2 {
            width: 101px;
            height: auto;
            margin: 9px 1em 0 9px
        }

        p {
            font-size: 1rem;
        }

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 1.5rem;
        }

    }


}


@media (min-width: 768px) and (max-width:1110px) {
    header {
        width: 100%;
        height: 165px;
        flex-direction: column;

        .barra-de-navegación {
            padding: 2px 8px;
            cursor: none;
            letter-spacing: 1px;
            border: 0;
            text-decoration: none;
            font-size: 4px;

            button {
                .linkB {
                    margin: -0.5em;
                    font-size: 2rem;
                }
            }
        }
    }

    footer {
        flex-direction: column;
        height: 120px;
    }

    .grid-logo-1 {
        grid-area: logo1;
        width: 427px;
        height: auto;
        margin: 19px 1em 0 -19px;
    }

    .grid-logo-2 {
        width: 525px;
        height: auto;
        margin: 19px 1em 0 -107px;
    }

    .grid-imagenb-1 {
        width: 380px;
        height: auto;
        margin: 19px 1em 0 -118px;
    }

    .grid-imagenb-2 {
        width: 322px;
        height: auto;
        place-items: center;
        margin: 19px 1em 0 -118px;
    }

    .grid-imagenb-3 {
        width: 322px;
        height: auto;
        margin: 19px 1em 0 -58px;
    }

    .grid-imagenb-4 {
        width: 619px;
        height: auto;
        margin: 19px 1em 0 -240px;
    }

    .grid-imagenR {
        width: 500px;
        text-align: center;
        margin: 19px 1em 0 -95px;
    }

    .grid-imgF-1 {
        width: 619px;
        height: auto;
        margin: 19px 1em 0 -159px;
    }

    .grid-imgFD-1 {
        width: 166px;
        height: auto;
        margin: 7px 1em 0 25px;
    }

    .grid-imgFD-2 {
        width: 166px;
        height: auto;
        margin: 7px 1em 0 25px;
    }

}